/* 아래애 자유롭게 꾸며 주세요! */
h1 {
    text-align: center;
}

form {
    width: 400px;
    margin:auto;
}

.form-input {
    margin-top:100px;
}

h4 {
    height:10px;
}

p1 {
    color:gray;
    font-weight: bold;
    font-size:14px;
}

input {
    width:100%;
    line-height: 25px;
    border: 1.5px solid black;
}

input.submit {
    background-color: rgb(148, 45, 216);
    color:white;
    font-weight: bold;
    border: none;
    margin-top:20px;
}