/* 01_nav.css */
/* 아래에 코드를 작성해 주세요. */

.topnav {
    height:80px;
    width: 100%;
    margin:0;
    padding:0;
    background-color: rgba(39, 4, 4, 0.705);
    overflow: hidden;
    position: fixed;
    top: 0;
    display:block;
}

.nav-menu {
    list-style-type: None;
    float:right;
    overflow:hidden;
    display: block; 
    padding-left:16px;
    padding-right:12px;
}

.container {
    float:left;
    text-decoration: none;
    padding:14px 16px;
    display:block;
}

.li-menu {
    display: block;
    float:left;
    text-align: center;
    color:gray;
    text-decoration: none;
}

.li-menu:hover {
    color:white
}